#snippets {
	max-height: 450px;
	overflow-y: scroll;
	overflow-x: hidden;
	.snippet {
		padding: 8px;
		&:nth-child(odd) {
			background-color: #eee;
		}
	}
	span.cuss {
		background-color: #ff0000;
		color: #fff;
		padding: 4px;
	}
	span.snippet-location {
		float: right;
		padding-right: 10px;
	}
}